<div id="help" class="span12">
	<p class="lead">1. Подача заявки на автотранспорт</p>
	<div class="container">
		<div class="span9">
			<p>Для того, чтобы подать заявку на требуемый Вам автотранспорт, необходимо быть зарегистрированным пользователем системы заявок и
			войти в систему под своим именем пользователя и паролем.
			Для подачи заявки нажмите кнопку "Подать заявку".</p>
		</div>
		<div class="span2">
			<img class="img-polaroid" src="img/help/01.jpg">
		</div>
	</div><br><br>
	
	<p class="lead">2. Заполнение реквизитов заявки</p>
	<div class="container">
		<div class="span9">
			<p>
			Заявка на автотранспорт имеет следующие реквизиты:
				<ul>
					<li>Тип автотранспорта</li>
					<li>Дата и время отправления</li>
					<li>Дата и время прибытия обратно</li>
					<li>Маршрут поездки</li>
					<li>Подробности о поездке</li>
				</ul>
			</p><br>
		</div>
	</div>
			<div class="container">
				<div class="span7">
					<p>
						<b>Тип транспорта</b> (обязательно для заполнения)<br>
						<i>Тип транспортного средства, требуемый для поездки. По умолчанию выставлено значение "легковой" для пассажирских перевозок.</i>
					</p>
				</div>
				<div class="span4">
					<img class="img-polaroid" src="img/help/02.jpg">
				</div>
			</div><br>
			
			<div class="container">
				<div class="span7">
					<p>
						<b>Дата и время отправления</b> (обязательно для заполнения)<br>
						<i>Дата и время начала поездки, с этого времени транспотрное средство будет передано в распоряжение заказчика.
						    Сначала выбирается день отправления, затем час, затем минуты.</i>
					</p>
				</div>
				<div class="span4">
					<img class="img-polaroid" src="img/help/03.jpg">
				</div>
			</div>
			
			<div class="container">
				<div class="span7">
					<p>
						<b>Дата и время прибытия обратно</b> (обязательно для заполнения)<br>
						<i>Дата и время окончания поездки, предполагается, что в это время транспортное средство вернется в пункт отправления.
						    Сначала выбирается день отправления, затем час, затем минуты.</i>
					</p>
				</div>
				<div class="span4">
					<img class="img-polaroid" src="img/help/04.jpg">
				</div>
			</div><br>
			
			<div class="container">
				<div class="span7">
					<p>
						<b>Маршрут поездки</b> (обязательно для заполнения)<br>
						<i>Маршрут поездки, может состоять из произвольного числа пунктов. Пункт маршрута выбирается из выпадающего списка, 
						либо вводится вручную в случае его отсутствия. Добавление происходит путем нажатия на кнопку "+".</i>
					</p>
				</div>
				<div class="span4">
					<img class="img-polaroid" src="img/help/05.jpg">
				</div>
			</div><br>
			
			<div class="container">
				<div class="span7">
					<p>
						<b>Подробности о поездке</b><br>
						<i>Информация о поездке (количество пассажиров, цель поездки, контактный телефон). В случае подрбного заполнения деталей поезд.
						Подробно заполненная информация о поездке способствует выделению оптимально подходящей транспортной единицы диспетчером.</i>
					</p>
				</div>
				<div class="span4">
					<img class="img-polaroid" src="img/help/06.jpg">
				</div>
			</div><br><br>
			
			<div class="container">
				<div class="span9">
					<p>Подача заявки осуществляется нажатием на кнопку "Подать заявку". В случае корректного заполнения реквизитов и отсутствия противоречий,
					Ваша заявка будет добавлена в систему.</p>
				</div>
				<div class="span2">
					<img class="img-polaroid" src="img/help/07.jpg">
				</div>
			</div><br><br>
			
			<p class="lead">3. Статусы заявок</p>
			<div class="container">
				<div class="span12">
					<p>Каждая заявка в системе имеет текущий статус. Статусы заявок:
						<ul>
							<li>Не подтверждена</li>
							<li>Подтверждена</li>
							<li>Отклонена</li>
						</ul>
					</p>
				</div>
			</div><br>
			
			<div class="container">
				<div class="span9">
					<p>
						<b>Не подтверждена</b><br>
						<i>Заявка не была подтверждена диспетчером и находится в рассмотрении. Вновь поданой заявке присваивается этот статус.</i>
					</p>
				</div>
				<div class="span2">
					<img class="img-polaroid" src="img/help/08.jpg">
				</div>
			</div><br>
			
			<div class="container">
				<div class="span9">
					<p>
						<b>Подтверждена</b><br>
						<i>Заявка была подтверждена диспетчером. Для Ваших нужд будет выделена транспортная единица.</i>
					</p>
				</div>
				<div class="span2">
					<img class="img-polaroid" src="img/help/09.jpg">
				</div>
			</div><br>
			
			<div class="container">
				<div class="span9">
					<p>
						<b>Отклонена</b><br>
						<i>Заявка была отклонена диспетчером. В случае отклонения заявки, в статусе заявки будет указана причина отклонения.</i>
					</p><br>
					
					<p>Возможны следующие причины отклонения заявки:
						<ul>
							<li>Отсутствие транспорта <i>(отсутствует необходимый Вам транспорт)</i></li>
							<li>Отсутствие водителя <i>(отсутствует свободный водитель)</i></li>
							<li>Отказ заявителя <i>(заявитель подал запрос на отмену заявки)</i></li>
							<li>Не указана <i>(какая-либо другая причина)</i></li>
						</ul>
					</p>
				</div>
				<div class="span2">
					<img class="img-polaroid" src="img/help/10.jpg">
				</div>
			</div><br>
			
			<p class="lead">4. Отмена заявки</p>
			<div class="container">
				<div class="span8">
					<p>
						Пользователь, подавший заявку, имеет возможность отменить ее в любой момент времени.
						Чтобы отменить заявку, следует нажать на кнопку "Отменить заявку".
					</p>
				</div>
				<div class="span3">
					<img class="img-polaroid" src="img/help/11.jpg">
				</div>
			</div><br>
			<div class="container">
				<div class="span8">
					<p>
						 В результате отмены, в области заявки будет отображен ярлык "Запрошено отклонение".
					</p>
				</div>
				<div class="span3">
					<img class="img-polaroid" src="img/help/12.jpg">
				</div>
			</div><br><br>
	
	
	
	<div ng-show="data.currentUser.isAdmin == true">
		<p class="lead">5. Редактирование заявки</p>
			<div class="container">
				<div class="span8">
					<p>
						Пользователь, наделенный правами диспетчера, может редактировать реквизиты заявки, 
						а так же присваивать заявкам текущий статус. Для входа в режим редактирования заявки следует
						нажать кнопку "Редактировать".
					</p>
				</div>
				<div class="span3">
					<img class="img-polaroid" src="img/help/13.jpg">
				</div>
			</div><br>
			<div class="container">
				<div class="span8">
					<p>
						Для редактирования доступны следующие реквизиты:
						<ul>
							<li>Статус заявки</li>
							<li>Дата и время отправления</li>
							<li>Дата и время прибытия обратно</li>
							<li>Маршрут поездки</li>
							<li>Транспортная единица</li>
							<li>Водитель</li>
							<li>Подробности о поездке</li>
						</ul>
					</p>
				</div>
				<div class="span3">
					
				</div>
			</div><br>
			
			<div class="container">
				<div class="span7">
					<p>
						<b>Статус заявки</b><br>
						<i>Текущий статус заявки, по нему пользователь, подавший заявку отслеживает состояние своей заявки в системе.</i>
					</p>
				</div>
				<div class="span4">
					<img class="img-polaroid" src="img/help/14.jpg">
				</div>
			</div><br>
			
			<div class="container">
				<div class="span7">
					<p>
						<b>Дата и время отправления</b><br>
						<i>Дата и время начала поездки, с этого времени транспотрное средство будет передано в распоряжение заказчика.
						    Сначала выбирается день отправления, затем час, затем минуты.</i>
					</p>
				</div>
				<div class="span4">
					<img class="img-polaroid" src="img/help/03.jpg">
				</div>
			</div><br>
			
			<div class="container">
				<div class="span7">
					<p>
						<b>Дата и время прибытия обратно</b><br>
						<i>Дата и время окончания поездки, предполагается, что в это время транспортное средство вернется в пункт отправления.
						    Сначала выбирается день отправления, затем час, затем минуты.</i>
					</p>
				</div>
				<div class="span4">
					<img class="img-polaroid" src="img/help/04.jpg">
				</div>
			</div><br>
			
			<div class="container">
				<div class="span7">
					<p>
						<b>Маршрут поездки</b><br>
						<i>Маршрут поездки, может состоять из произвольного числа пунктов. Пункт маршрута выбирается из выпадающего списка, 
						либо вводится вручную в случае его отсутствия. Добавление происходит путем нажатия на кнопку "+". Удаление происходит
						путем нажатия на кнопку "<img src="img/delete2.png">".</i>
					</p>
				</div>
				<div class="span4">
					<img class="img-polaroid" src="img/help/05.jpg">
				</div>
			</div><br>
			
			<div class="container">
				<div class="span7">
					<p>
						<b>Транспортная единица</b><br>
						<i>
							Транспортная единица, выделенная для нужд заказчика и удовлетворяющая его требованиям.
							Выбирается из выпадающего списка при вводе модели транспортного средства или 
							его государственного номера.
						</i>
					</p>
				</div>
				<div class="span4">
					<img class="img-polaroid" src="img/help/15.jpg">
				</div>
			</div><br>
			
			<div class="container">
				<div class="span7">
					<p>
						<b>Водитель</b><br>
						<i>
							Водитель, который будет управлять транспортным средством при выполнении текущей заявки.
							Выбирается из выпадающего списка при вводе фамилии, имени или отчества водителя.
						</i>
					</p>
				</div>
				<div class="span4">
					<img class="img-polaroid" src="img/help/16.jpg">
				</div>
			</div><br>
			
			<div class="container">
				<div class="span7">
					<p>
						<b>Подробности о поездке</b><br>
						<i>
							Информация о поездке (количество пассажиров, цель поездки, контактный телефон). Диспетчер может
							внести некоторые уточняющие сведения о поездке, которые будут видны пользователю.
						</i>
					</p>
				</div>
				<div class="span4">
					<img class="img-polaroid" src="img/help/06.jpg">
				</div>
			</div><br><br>
			
			<div class="container">
				<div class="span8">
					<p>
						Сохранение изменений в заявке происходит путем нажатия на кнопку "Сохранить".
						Внесенные изменения в реальном времени отображаются в списке заявок.
					</p>
				</div>
				<div class="span3">
					<img class="img-polaroid" src="img/help/17.jpg">
				</div>
			</div><br><br>
			
	</div>
	
	
</div>
		
		
<!--		
	</div>
</div> -->