<!-- BEGIN: menu -->
<div id="header">
    <div id="labelHolder">
        <div id="sysLabel">Заявки</div>    
    </div>
    
    <!-- BEGIN: dit -->
    <div class="contrItem" id="contrdit" onclick="javascript:window.location.href='/zayavki/?section=dit'">
        <div class="sep10x10"></div>
        <img src="../src/img/ico_dit_32x32.png" border="0"/>
        Департамент&nbsp;ИТ
    </div>
    <!-- END: dit -->
  
  
    <!-- BEGIN: auto -->
    <div class="contrItem" id="contrat">
        <div class="sep10x10"></div>
        <img src="../src/img/ico_at_32x32.png" border="0"/>
        <img src="../images/bt2.png" title="Система находится в стадии тестирования" style="height: 13px; margin-left: 0px; margin-top: -5px; border-bottom: 10px solid transparent;"><br/>
       Автотранспорт
    </div>
    <!-- END: auto -->
    
    <!-- BEGIN: aho -->
    <div class="contrItem" id="contraho" style="display:none;">
        <div class="sep10x10"></div>
        <img src="../src/img/ico_aho_32x32.png" border="0"/><br/>
        АХО
    </div>
    <!-- END: aho -->
    
    <!-- BEGIN: admin -->
    <div class="contrItem" id="contradmin">
        <div class="sep10x10"></div>
        <img src="../src/img/ico_admin_32x32.png" border="0"/><br/>
        Моя админка
    </div>
    <!-- END: admin -->
    
    <!-- BEGIN: zakupki -->
    <div class="contrItem" id="contrzakupki">
        <div class="sep10x10"></div>
        <img src="../src/img/ico_basket_32x32.png" border="0"/><br/>
        Закупки
    </div>
    <!-- END: zakupki -->
    
    {FILE{USER_MENU}}
</div>
<!--  END: menu -->