<div style="float:right; width: 300px; color: white; font-size: 12px;">
    <div class="sep5x5"></div>
    <img src="../src/img/ico_building_16x16.png" width="16" height="16" align="top" title="Место работы"/> 
    <span class="whiteLink">{USER_VISIBILITY_AREA}</span>
    <div class="sep5x5"></div>
        
    <img src="../src/img/ico_user_green_16x16.png" width="16" height="16" align="top" title="Пользователь"/> 
    <a href="../?stt=edituser" class="whiteLink">{USER_FIO}</a> 
    (<a href="../logout.php" class="whiteLink">выйти</a>)
    <div class="sep5x5"></div> 
    <img src="../src/img/ico_help_c_16x16.png" width="16" height="16" align="top" title="Помощь"/> 
	<!-- BEGIN: oldHelp -->
    <span id="helpCaller" class="whiteLink active-text">Помощь</span>
	<!-- END: oldHelp -->
	<!-- BEGIN: newHelp -->
	<a href="#/help" class="whiteLink active-text">Помощь</a>
	<!-- END: newHelp --> 
</div>